@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
