@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/buttons";
@import "../foundation/variables";

@mixin slider-control {
    @extend .btn;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
}

.slider-control--prev {
    @include slider-control;
    background-image: url("./resources/chevron-left.svg");
}

.slider-control--next {
    @include slider-control;
    background-image: url("./resources/chevron-right.svg");
}

.calendar {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.slider-header {
    &__title {
        font-size: 1.3em;
        line-height: 40px;
        color: $color-main;
    }
}
