@import "../../foundation/variables";

.metric-item {
    &__name {
        width: 6rem;
        text-transform: uppercase;
        font-size: 1.3em;
        line-height: 0.9em;
        color: $color-secondary;
    }

    &__value {
        text-transform: uppercase;
        font-size: 2.8em;
        color: $color-main;
    }
}
