@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/buttons";
@import "../../foundation/variables";

.week-day {
    @extend .btn;

    width: 40px;
    height: 40px;
    font-size: 1em;
    transition: 0.2s;
    border-radius: 50%;
    color: $text-muted;
    cursor: default;

    &--current {
        cursor: pointer;
        color: $color-main;

        &:hover {
            background-color: $color-main;
            color: #fff;
        }
    }

    &--selected {
        background-color: $color-main;
        color: #fff;
    }
}
